<!DOCTYPE html>
<html ng-app="mpleApp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>MPLE</title>
  <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/perfect-scrollbar.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body ng-controller="MainCtrl">

  <div ng-view></div>

  <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-animate.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-touch.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-cookies.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="/js/vendor/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-base64.min.js"></script>
  <script type="text/javascript" src="/js/vendor/ui-bootstrap-tpls-2.1.2.min.js"></script>
  <script type="text/javascript" src="/js/vendor/pixi.min.js"></script>
  <script type="text/javascript" src="/js/vendor/ng-stomp.standalone.min.js"></script>
  <script type="text/javascript" src="/js/vendor/mousewheel.js"></script>
  <script type="text/javascript" src="/js/vendor/hamster.js"></script>
  <script type="text/javascript" src="/js/vendor/hotkeys.min.js"></script>
  <script type="text/javascript" src="/js/vendor/perfect-scrollbar.jquery.min.js"></script>
  <script type="text/javascript" src="/js/Tileset.js"></script>
  <script type="text/javascript" src="/js/TileMap.js"></script>
  <script type="text/javascript" src="/js/TileMapRenderer.js"></script>
  <script type="text/javascript" src="/js/TilesetRenderer.js"></script>
  <script type="text/javascript" src="/js/LevelEditor.js"></script>
  <script type="text/javascript" src="/js/mpleApp.js"></script>
  <script type="text/javascript" src="/plugins/basic-tools.js"></script>

</body>
</html>