<nav-bar></nav-bar>
<nav class="navbar navbar-inverse" style="margin: 0; border-radius: 0">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">File</a>
        <ul class="dropdown-menu dropdown-user">
          <li ng-click="editor.commit()"><a>Commit changes</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit</a>
        <ul class="dropdown-menu dropdown-user">
          <li ng-click="editor.flipHTiles()"><a>Flip Horizontal (SHIFT+F)</a></li>
          <li ng-click="editor.flipVTiles()"><a>Flip Vertical (SHIFT+V)</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Level</a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a ng-click="editor.setShowGrid()">
              <i class="fa pull-right"
                 ng-class="{'fa-eye': editor.showGrid, 'fa-eye-slash': !editor.showGrid}" aria-hidden="true"></i>
              Show grid
            </a>
          </li>
          <li>
            <a ng-click="editor.setShowAnnotations()" >
              <i class="fa pull-right"
                 ng-class="{'fa-eye': editor.showAnnotations, 'fa-eye-slash': !editor.showAnnotations}" aria-hidden="true"></i>
              Show annotations
            </a>
          </li>
          <li>
            <a ng-click="editor.setShowSketches()">
              <i class="fa pull-right"
                 ng-class="{'fa-eye': editor.showSketches, 'fa-eye-slash': !editor.showSketches}" aria-hidden="true"></i>
              Show sketches
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-lg btn-primary" ng-click="editor.leaveRoom()">Leave Room</button></li>
    </ul>
  </div>
</nav>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg" role="group">
          <button ng-repeat="tool in editor.tools.listTools()" ng-click="editor.selectTool(tool.name)" ng-class="{active: editor.activeTool.name == tool.name}" type="button"
                  class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="top" title="{{tool.tooltip}}">
            <i ng-class="'fa-' + tool.icon" class="fa" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9" style="padding: 0 2px 0 2px ">
        <div msd-wheel="editor.mouseWheelEvent($event, $delta, $deltaX, $deltaY)"
             ng-mousemove="editor.updateMouse($event)"
             ng-mousedrag="editor.mouseEvent($event)"
             ng-mousedown="editor.mouseEvent($event)"
             ng-mouseup="editor.mouseEvent($event)"
             ng-click="editor.mouseEvent($event)"
             id="level-view" class="view-container"></div>
      </div>
      <div class="col-lg-3" style="padding: 0 2px 0 2px">
        <uib-accordion close-others="false">
          <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
              x: {{editor.mouse.x}} y: {{editor.mouse.y}} - row: {{editor.cursor.row + 1}} col: {{editor.cursor.col + 1}} - scale: {{editor.viewPort.scale}}
            </uib-accordion-heading>
            <uib-tabset active="active">
              <uib-tab index="0" heading="Tiles">
                <div ng-controller="TilesetCtrl"
                     ng-mousemove="updateCursor($event)"
                     ng-mousedown="mouseDown($event)"
                     ng-mouseup="mouseUp($event)"
                     id="tileset-view" class="view-container"></div>
              </uib-tab>
              <uib-tab index="1" heading="Layers">
                <div><button class="btn btn-sm btn-success small-button" ng-click="editor.insertLayer()"><span class="fa fa-plus" aria-hidden="true"></span></button></div>
                <div id="layer-view">
                  <ul class="list-group">
                    <li ng-click="editor.selectLayer($index)" class="list-group-item" ng-class="{'active': $index == editor.selectedLayer}"
                        ng-repeat="layer in editor.tileMap.layers">{{layer.name}}
                      <i ng-click="editor.deleteLayer($index)" class="fa fa-times pull-right" aria-hidden="true"></i>
                      <i ng-click="layer.visible = !layer.visible; editor.refreshTiles = true" class="fa pull-right"
                         ng-class="{'fa-eye': layer.visible, 'fa-eye-slash': !layer.visible}" aria-hidden="true"></i>
                      <i ng-click="editor.moveLayer($index, -1)" class="fa fa-arrow-up pull-right" aria-hidden="true"></i>
                      <i ng-click="editor.moveLayer($index, 1)" class="fa fa-arrow-down pull-right" aria-hidden="true"></i>
                    </li>
                  </ul>
                </div>
              </uib-tab>
              <!--<uib-tab index="2" heading="Objects">
                <div id="object-view"></div>
              </uib-tab>-->
            </uib-tabset>
          </div>
          <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
              Tool Options
            </uib-accordion-heading>
            <div ng-show="editor.activeTool.optionTemplate">
              <ng-include src="editor.activeTool.optionTemplate"></ng-include>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>